.title {
    font-size: x-large;
}

.dash {
    font-size: large;
    margin-right: .5%;
}

.wrapper {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

div a {
    padding-right: .5%;
}

.sort {
    padding-left: .5%;
}